/* === Button === */
.v2-button {
  font-weight: 700;
  font-family: open sans;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* for iOS */
  -webkit-tap-highlight-color: transparent;
  /* for some Androids */
  cursor: pointer;
  /* the following properties reset the Browser/OS specific styles of a <button> */
  border: none;
  background-color: transparent; }

.v2-button.is-disabled, .v2-button[disabled] {
  cursor: default; }

/* === Button: Primary === */
/* === Button: Secondary === */
/* === Button: Tertiary === */
/* === Button: Supplementary === */
.v2-button--primary {
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: #ffb400;
  transition: background-color 0.25s; }

.v2-button--primary:hover {
  background-color: #e6a200; }

.v2-button--primary:active {
  background-color: #cc9000; }

.v2-button--primary[disabled],
.v2-button--primary[disabled]:hover,
.v2-button--primary.is-disabled,
.v2-button--primary.is-disabled:hover {
  background-color: #ffb400;
  color: rgba(255, 255, 255, 0.6); }

.v2-button--secondary-dark-grey {
  padding: 10px 15px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: #888888;
  transition: background-color 0.25s; }

.v2-button--secondary-dark-grey:hover {
  background-color: #7b7b7b; }

.v2-button--secondary-dark-grey:active {
  background-color: #6f6f6f; }

.v2-button--secondary-dark-grey[disabled],
.v2-button--secondary-dark-grey[disabled]:hover,
.v2-button--secondary-dark-grey.is-disabled,
.v2-button--secondary-dark-grey.is-disabled:hover {
  background-color: #7b7b7b;
  color: rgba(255, 255, 255, 0.6); }

.v2-button--secondary-light-grey {
  padding: 10px 15px;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: #eeeeee;
  transition: background-color 0.25s; }

.v2-button--secondary-light-grey:hover {
  background-color: #e1e1e1; }

.v2-button--secondary-light-grey:active {
  background-color: #d4d4d4; }

.v2-button--secondary-light-grey[disabled],
.v2-button--secondary-light-grey[disabled]:hover,
.v2-button--secondary-light-grey.is-disabled,
.v2-button--secondary-light-grey.is-disabled:hover {
  background-color: #e1e1e1;
  color: rgba(68, 68, 68, 0.6); }

.v2-button--secondary-green {
  padding: 10px 15px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: #009623;
  transition: background-color 0.25s; }

.v2-button--secondary-green:hover {
  background-color: #007d1d; }

.v2-button--secondary-green:active {
  background-color: #006317; }

.v2-button--secondary-green[disabled],
.v2-button--secondary-green[disabled]:hover,
.v2-button--secondary-green.is-disabled,
.v2-button--secondary-green.is-disabled:hover {
  background-color: #007d1d;
  color: rgba(255, 255, 255, 0.6); }

.v2-button--tertiary-green {
  color: #009623;
  text-transform: uppercase;
  transition: color 0.25s; }

.v2-button--tertiary-green:hover {
  color: #007d1d;
  text-decoration: underline; }

.v2-button--tertiary-green:active {
  color: #006317; }

.v2-button--tertiary-green[disabled],
.v2-button--tertiary-green[disabled]:hover,
.v2-button--tertiary-green.is-disabled,
.v2-button--tertiary-green.is-disabled:hover {
  color: #007d1d;
  text-decoration: none; }

.v2-button--tertiary-grey {
  color: #444444;
  text-transform: uppercase;
  transition: color 0.25s; }

.v2-button--tertiary-grey:hover {
  color: #373737;
  text-decoration: underline; }

.v2-button--tertiary-grey:active {
  color: #2b2b2b; }

.v2-button--tertiary-grey[disabled],
.v2-button--tertiary-grey[disabled]:hover,
.v2-button--tertiary-grey.is-disabled,
.v2-button--tertiary-grey.is-disabled:hover {
  color: #373737;
  text-decoration: none; }

.v2-button--tertiary-white {
  color: white;
  text-transform: uppercase;
  transition: color 0.25s; }

.v2-button--tertiary-white:hover {
  color: #f2f2f2;
  text-decoration: underline; }

.v2-button--tertiary-white:active {
  color: #e6e6e6; }

.v2-button--tertiary-white[disabled],
.v2-button--tertiary-white[disabled]:hover,
.v2-button--tertiary-white.is-disabled,
.v2-button--tertiary-white.is-disabled:hover {
  color: #f2f2f2;
  text-decoration: none; }

.v2-button--supplementary-green {
  color: #009623;
  text-decoration: underline;
  transition: color 0.25s; }

.v2-button--supplementary-green:hover {
  color: #007d1d; }

.v2-button--supplementary-green:active {
  color: #006317; }

.v2-button--supplementary-green[disabled],
.v2-button--supplementary-green[disabled]:hover,
.v2-button--supplementary-green.is-disabled,
.v2-button--supplementary-green.is-disabled:hover {
  color: #007d1d; }

.v2-button--supplementary-grey {
  color: #444444;
  text-decoration: underline;
  transition: color 0.25s; }

.v2-button--supplementary-grey:hover {
  color: #373737; }

.v2-button--supplementary-grey:active {
  color: #2b2b2b; }

.v2-button--supplementary-grey[disabled],
.v2-button--supplementary-grey[disabled]:hover,
.v2-button--supplementary-grey.is-disabled,
.v2-button--supplementary-grey.is-disabled:hover {
  color: #373737; }

.v2-button--supplementary-white {
  color: white;
  text-decoration: underline;
  transition: color 0.25s; }

.v2-button--supplementary-white:hover {
  color: #f2f2f2; }

.v2-button--supplementary-white:active {
  color: #e6e6e6; }

.v2-button--supplementary-white[disabled],
.v2-button--supplementary-white[disabled]:hover,
.v2-button--supplementary-white.is-disabled,
.v2-button--supplementary-white.is-disabled:hover {
  color: #f2f2f2; }
