
$primaryBgColorOrange:      #ffb400;

$secondaryBgColorDarkGrey:  #888;
$secondaryBgColorLightGrey: #eee;
$secondaryBgColorGreen:     #009623;

$textColorGreen:            #009623;
$textColorGrey:             #444;
$textColorWhite:            #fff;

@function hover-color($color) {
  @return darken($color, 5%);
}

@function active-color($color) {
  @return darken($color, 10%);
}

@function hover-color-on-no-bg($color) {
  @return darken($color, 10%);
}

@function active-color-on-no-bg($color) {
  @return darken($color, 15%);
}

@mixin disabled($class) {
  .#{$class}.is-disabled,
  .#{$class}[disabled],
  .#{$class}.is-disabled:hover,
  .#{$class}[disabled]:hover,
  .#{$class}.is-disabled:active,
  .#{$class}[disabled]:active {
    @content;
  }
}

/* === Common === */

.v2-button {

  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 20px;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  /* for iOS */
  -webkit-tap-highlight-color: transparent;       /* for some Androids */

  /* the following properties reset the Browser/OS specific styles of a <button> */
  border: none;
  background-color: transparent;

  /* === Modifier: Disabled === */

  &--is-disabled, &[disabled] {
    cursor: default;
  }

  /* === Modifier: Size === */

  &--medium {
    font-family: "roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
  }

  &--large {
    font-family: "roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    line-height: 32px;
  }

  /* === Modifier: Icon === */

  &--icon-on-left > .v2-icon {
    margin-right: 10px;
  }

  &--icon-on-right > .v2-icon {
    margin-left: 10px;
  }

}

/* === Primary/Secondary === */

.v2-button--primary,
.v2-button--secondary-green,
.v2-button--secondary-light-grey,
.v2-button--secondary-dark-grey {
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  transition: background-color 0.25s;

  /* === Modifier: Size === */

  &--medium {
    padding: 10px 25px !important;
  }

  &--large {
    padding: 10px 30px !important;
  }

}

.v2-button--primary {
  background-color: $primaryBgColorOrange;
}

.v2-button--primary:hover {
  background-color: hover-color($primaryBgColorOrange);
}

.v2-button--primary:active {
  background-color: hover-color($primaryBgColorOrange);
}

@include disabled('v2-button--primary') {
  background-color: $primaryBgColorOrange;
}

/* Secondary: green */

.v2-button--secondary-green {
  background-color: $secondaryBgColorGreen;
}

.v2-button--secondary-green:hover {
  background-color: hover-color($secondaryBgColorGreen);
}

.v2-button--secondary-green:active {
  background-color: active-color($secondaryBgColorGreen);
}

@include disabled('v2-button--secondary-green') {
  background-color: $secondaryBgColorGreen;
}

/* Secondary: light grey */

.v2-button--secondary-light-grey {
  color: #444;
  background-color: $secondaryBgColorLightGrey;
}

.v2-button--secondary-light-grey:hover {
  background-color: hover-color($secondaryBgColorLightGrey);
}

.v2-button--secondary-light-grey:active {
  background-color: active-color($secondaryBgColorLightGrey);
}

@include disabled('v2-button--secondary-light-grey') {
  background-color: $secondaryBgColorLightGrey;
}

/* Secondary: dark grey */

.v2-button--secondary-dark-grey {
  background-color: $secondaryBgColorDarkGrey;
}

.v2-button--secondary-dark-grey:hover {
  background-color: hover-color($secondaryBgColorDarkGrey);
}

.v2-button--secondary-dark-grey:active {
  background-color: active-color($secondaryBgColorDarkGrey);
}

@include disabled('v2-button--secondary-dark-grey') {
  background-color: $secondaryBgColorDarkGrey;
}

/* Tertiary: green */

.v2-button--tertiary-green {
  color: $textColorGreen;
}

.v2-button--tertiary-green:hover {
  color: hover-color-on-no-bg($textColorGreen);
}

.v2-button--tertiary-green:active {
  color: active-color-on-no-bg($textColorGreen);
}

@include disabled('v2-button--tertiary-green') {
  color: $textColorGreen;
}

/* Tertiary: grey */

.v2-button--tertiary-grey {
  color: $textColorGrey;
}

.v2-button--tertiary-grey:hover {
  color: hover-color-on-no-bg($textColorGrey);
}

.v2-button--tertiary-grey:active {
  color: active-color-on-no-bg($textColorGrey);
}

@include disabled('v2-button--tertiary-grey') {
  color: $textColorGrey;
}

/* Tertiary: white */

.v2-button--tertiary-white {
  color: $textColorWhite;
}

.v2-button--tertiary-white:hover {
  color: hover-color-on-no-bg($textColorWhite);
}

.v2-button--tertiary-white:active {
  color: active-color-on-no-bg($textColorWhite);
}

@include disabled('v2-button--tertiary-white') {
  color: $textColorWhite;
}

/* Supplementary: green */

.v2-button--supplementary-green {
  color: $textColorGreen;
}

@include disabled('v2-button--supplementary-green') {
  color: $textColorGreen;
}

/* Supplementary: grey */

.v2-button--supplementary-grey {
  color: $textColorGrey;
}

.v2-button--supplementary-grey:hover {
  color: hover-color-on-no-bg($textColorGrey);
}

.v2-button--supplementary-grey:active {
  color: active-color-on-no-bg($textColorGrey);
}

@include disabled('v2-button--supplementary-grey') {
  color: $textColorGrey;
}

/* Supplementary: white */

.v2-button--supplementary-white {
  color: $textColorWhite;
}

.v2-button--supplementary-white:hover {
  color: hover-color-on-no-bg($textColorWhite);
}

.v2-button--supplementary-white:active {
  color: active-color-on-no-bg($textColorWhite);
}

@include disabled('v2-button--supplementary-white') {
  color: $textColorWhite;
}