@import "./lib/colors";

@mixin disabled($class) {
  .#{$class}.is-disabled,
  .#{$class}[disabled],
  .#{$class}.is-disabled:hover,
  .#{$class}[disabled]:hover,
  .#{$class}.is-disabled:active,
  .#{$class}[disabled]:active {
    @content;
  }
}

@mixin loading($class) {
  .#{$class}.is-loading,
  .#{$class}.is-loading:hover,
  .#{$class}.is-loading:active {
    @content;
  }
}

/* === Common === */

.v2-button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 20px;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  /* for iOS */
  -webkit-tap-highlight-color: transparent;       /* for some Androids */

  /* the following properties reset the Browser/OS specific styles of a <button> */
  border: none;
  background-color: transparent;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;

  /* FIXME: hacky max-width to allow the button to transition to loading icon */
  max-width: 400px;
  overflow: hidden;

  /* === Modifier: Disabled === */

  &--is-disabled, &[disabled] {
    cursor: default;
  }

  /* === Modifier: Icon === */

  &--icon-on-left > .v2-icon {
    margin-right: 10px;
  }

  &--icon-on-right > .v2-icon {
    margin-left: 10px;
  }

}

@import "./lib/primary";
@import "./lib/secondary";
@import "./lib/tertiary";
@import "./lib/loading";
@import "./lib/size";
