@import "@nib-styles/v2-icons/dist/mixin.scss";

@mixin button-common() {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 20px;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  /* for iOS */
  -webkit-tap-highlight-color: transparent;       /* for some Androids */

  /* the following properties reset the Browser/OS specific styles of a <button> */
  border: none;
  background-color: transparent;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;

  /* FIXME: hacky max-width to allow the button to transition to loading icon */
  max-width: 400px;
  overflow: hidden;
  transition: background-color 0.25s, max-width .5s ease, color .5s ease;
  position: relative;

  &:before {
    content: '';
    width: calc(100% - 40px);
    position: absolute;
    transition: width .5s ease .25s;
  }

  &.is-loading {
    max-width: calc(40px + 1em);
    overflow: hidden;
    position: relative;
    color: transparent;
    cursor: default;

    &:before {
      content: '\E036';
      font-family: nibdings;
      display: inline-block;
      position: absolute;
      color: $textColorWhite;
      animation: v2-icon-spin 0.75s infinite linear;
      width: 1em;
    }
  }

  &.is-disabled,
  &[disabled] {
    cursor: default;
    pointer-events: none;
  }

  /* === Modifier: Icon === */

  &--icon-on-left > .v2-icon {
    margin-right: 10px;
  }

  &--icon-on-right > .v2-icon {
    margin-left: 10px;
  }

}

@mixin button-type($type) {

  @if ($type == "primary") {

    background-color: $primaryBgColorOrange;

    &:not(.is-loading):not(.is-disabled):not([disabled]):hover {
      background-color: hover-color($primaryBgColorOrange);
    }

    &:not(.is-loading):not(.is-disabled):not([disabled]):active {
      background-color: active-color($primaryBgColorOrange);
    }

    &.is-disabled,
    &[disabled] {
      color: rgba($textColorWhite, 0.3);
    }

  } @else if ($type == "secondary-green") {

    background-color: $secondaryBgColorGreen;

    &:not(.is-loading):hover {
      background-color: hover-color($secondaryBgColorGreen);
    }

    &:not(.is-loading):active {
      background-color: active-color($secondaryBgColorGreen);
    }

    &.is-disabled,
    &[disabled] {
      color: rgba($textColorWhite, 0.3);
    }

  } @else if ($type == "secondary-light-grey") {

    color: $textColorGrey;
    background-color: $secondaryBgColorLightGrey;

    &:not(.is-loading):hover {
      background-color: hover-color($secondaryBgColorLightGrey);
    }

    &:not(.is-loading):active {
      background-color: active-color($secondaryBgColorLightGrey);
    }

    &.is-loading:before {
      color: $textColorGrey;
    }

    &.is-disabled,
    &[disabled] {
      color: rgba($textColorGrey, 0.3);
    }

  } @else if ($type == "secondary-dark-grey") {

    background-color: $secondaryBgColorDarkGrey;

    &:not(.is-loading):hover {
      background-color: hover-color($secondaryBgColorDarkGrey);
    }

    &:not(.is-loading):active {
      background-color: active-color($secondaryBgColorDarkGrey);
    }

    &.is-disabled,
    &[disabled] {
      color: rgba($textColorWhite, 0.3);
    }

  } @else if ($type == "tertiary-green") {

    color: $textColorGreen;

    &:not(.is-loading):hover {
      background: hsla(0, 0, 0, .05);
    }

    &:not(.is-loading):active {
      background: hsla(0, 0, 0, .1);
    }

    &.is-loading:before {
      color: $textColorGreen;
    }

    &.is-disabled,
    &[disabled] {
      color: rgba($textColorGreen, 0.3);
    }

  } @else if ($type == "tertiary-grey") {

    color: $textColorGrey;

    &:not(.is-loading):hover {
      background: hsla(0, 0, 0, .05);
    }

    &:not(.is-loading):active {
      background: hsla(0, 0, 0, .1);
    }

    &.is-loading:before {
      color: $textColorGrey;
    }

    &.is-disabled,
    &[disabled] {
      color: rgba($textColorGrey, 0.3);
    }
  } @else if ($type == "tertiary-white") {

    color: $textColorWhite;

    &:not(.is-loading):hover {
      background: hsla(0, 0, 0, .05);
    }

    &:not(.is-loading):active {
      background: hsla(0, 0, 0, .1);
    }

    &.is-loading:before {
      color: $textColorWhite;
    }

    &.is-disabled,
    &[disabled] {
      color: rgba($textColorWhite, 0.3);
    }
  }
}

@mixin button-size($size) {
  @if ($size == "medium") {

    font-family: "roboto", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 25px !important;

    &.is-loading {
      max-width: calc(50px + 1em);
    }

  } @else if ($size == "large") {

    font-family: "roboto", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 24px;
    line-height: 32px;
    padding: 10px 30px !important;

    &.is-loading {
      max-width: calc(60px + 1em);
    }

  }
}

@mixin button($type, $icon: null, $size: null) {
  @include button-common();
  @include button-type($type);
  @include button-size($size);

  @if ($icon == true) {
    $icon: 'chevron-circle-inverse';
  }

  @if ($icon) {
    @include v2-icon($name: $icon, $size: null, $color: null, $rotate: 0, $offset-descenders: true, $after: true);

    &:after {
      display: inline-block;
      margin-left: 10px;

      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-family: nibdings;
    }
  }

}